aiohttp==3.7.4.post0
altgraph==0.17.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
discord==1.7.3
discord-components==2.1.2
discord.py==1.7.3
future==0.18.2
google==3.0.0
googlesearch-python==1.0.1
idna==2.10
multidict==5.2.0
pefile==2021.9.3
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pypresence==4.2.1
python-dotenv==0.15.0
pywin32-ctypes==0.2.0
requests==2.25.1
soupsieve==2.3.1
templates==0.0.5
timer==0.2.2
typing-extensions==4.0.1
urllib3==1.26.7
utils==1.0.1
yarl==1.7.2
youtube-dl==2021.2.10